@model SGC.Business.Dtos.UsuarioDTO

@{
    ViewData["Title"] = "Crear Usuario";
}

<h2 class="mb-3">Crear Usuario</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">

    <div class="mb-3">
        <label class="form-label">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    


    <div class="mb-3">
        <label class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Rol</label>
        <select asp-for="Rol" class="form-select">
            <option value="Admin">Admin</option>
            <option value="ServicioCliente">Servicio Cliente</option>
            <option value="Analista">Analista</option>
            <option value="Gestor">Gestor</option>
        </select>
        <span asp-validation-for="Rol" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Crear</button>
    <a href="/Usuario" class="btn btn-secondary">Cancelar</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

