@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="login-card">
    <div class="logo">
        @* <img src="https://cdn-icons-png.flaticon.com/512/9326/9326922.png" alt="SGC Logo" /> *@
        <h4>Bienvenido</h4>
        <p class="text-muted">Accede a tu cuenta</p>
    </div>

    <form method="post" id="loginForm">
        <div class="form-group mb-3">
            <label>Usuario</label>
            <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="nombre de usuario" required autocomplete="off" />
            </div>
        </div>

        <div class="form-group mb-4">
            <label>Contraseña</label>
            <div class="input-group">
                <input type="password" name="password" class="form-control" placeholder="••••••••" required />
            </div>
        </div>

        

        <button type="submit" class="btn btn-primary w-100" id="btnLogin">
            Ingresar
        </button>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger text-center mt-3 py-2 small" style="background: rgba(220, 53, 69, 0.1); border: 1px solid rgba(220, 53, 69, 0.2); color: #ea868f;">
                @ViewBag.Error
            </div>
        }
    </form>

</div>

<script>
    const btn = document.getElementById("btnLogin");
    const form = document.getElementById("loginForm");

    form.addEventListener("submit", () => {
        const originalText = btn.innerText;
        btn.innerText = 'Verificando...';
        btn.style.opacity = '0.7';
        btn.disabled = true;
        
      
        setTimeout(() => {
            btn.disabled = false;
            btn.innerText = originalText;
            btn.style.opacity = '1';
        }, 5000); 
    });
</script>
